@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/slick';
@import 'libs/animate';



@import 'base/variables';
@import 'base/animations';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.wrapper {
    display: block;
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
}

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/advantages';
@import 'block/consultation';
@import 'block/titles';
@import 'block/forms';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/reviews';
@import 'block/footer';
@import 'block/modal';
@import 'block/pageup';

