@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.wrapper {
    display: block;
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
}

@import 'block/promo.scss';
@import 'block/header.scss';
@import 'block/buttons.scss';
@import 'block/advantages.scss';
@import 'block/consultation.scss';
@import 'block/titles.scss';
@import 'block/forms.scss';
@import 'block/carousel.scss';
@import 'block/catalog.scss';
@import 'block/reviews.scss';
